.html-publications-show {
  .publication-content {
    .govspeak {

      .stat-headline-group {
        margin-top: $gutter;
      }


      .stat-headline {
        @include grid-column(1/2);
        margin-bottom: $gutter;


        p {
          @include bold-19;
          margin: 0;
        }

        em {
          display: block;
          @include bold-80;
          margin-bottom: 0;

          margin-top: $gutter-one-third;
        }
      }
    }
  }
}