{{<layout}}

{{$content}}

  <div id="whitehall-wrapper">

  <main id="content" role="main" class="whitehall-content">
    <div id="page" class="html-publications-show">

<div class="block publication-external">
  <div class="inner-block floated-children">
    <ul class="organisations-icon-list organisations">
        <li class="organisation department-for-business-innovation-skills-brand-colour" id="organisation_3">
          <a class="organisation-logo organisation-logo-stacked-bis organisation-logo-stacked-bis-medium" href="/government/organisations/department-for-business-innovation-skills">
            <span>Department <br>for Business<br>Innovation &amp; Skills</span>
</a>
</li>    </ul>
    <div class="return">
      <p><a href="/government/publications/single-departmental-plan-department-for-business-innovation-and-skills-bis">See more information about this Policy paper</a></p>
    </div>
  </div>
</div>
<header class="publication-header" id="contents">
  <div class="inner-block floated-children">
    <div class="headings">
      <p class="document-type">Policy paper</p>
      <h1>Single Departmental Plan</h1>
      <p>Published </p>
    </div>
    <nav class="in-page-navigation">
      <h2>Contents</h2>
      <ol>
<li><a href="#vision-statement-and-objectives">Vision statement and objectives</a></li>
<li><a href="#business-growth">Business growth</a></li>
<li><a href="#apprenticeships">Apprenticeships</a></li>
<li><a href="#competitiveness">Competitiveness</a></li>
<li><a href="#reforming-the-workplace">Reforming the workplace</a></li>
<li><a href="#innovation">Innovation</a></li>
<li><a href="#higher-education">Higher education</a></li>
</ol>
    </nav>
  </div>
</header>
<div class="block publication-content">
  <div class="inner-block floated-children">
    <div class="govspeak">

      <div class="stat-headline-group">
        <aside class="stat-headline">
          <p><em>£500m</em> total departmental budget</p>
        </aside>
      </div>

<h2 id="vision-statement-and-objectives">
<span class="number">1. </span>Vision statement and objectives</h2>

<h3 id="our-vision">
<span class="number">1.1 </span>Our vision</h3>

<p>xx</p>

<h3 id="objectives">
<span class="number">1.2 </span>Objectives</h3>

<ul>
  <li>Cement the UK’s position as the best place in Europe to start and grow a business by supporting local growth, entrepreneurs, and making it easier for small businesses to resolve disputes quickly and easily</li>
  <li>Deliver 3 million new apprenticeships to ensure businesses have access to the skilled workforce they need, while also taking measures to improve further education</li>
  <li>Support competitiveness by cutting red tape, generating new trade, investment and job opportunities, opening up the Single Market, and developing our long-term industrial strategy</li>
  <li>Tackle illegal practices in the workplace, legislate to reform trade union strike action, and deal with the abuse of the minimum wage </li>
  <li>Ensure that the UK is the best place to innovate, maintain a world leading research and science base to drive growth and productivity while reforming the system to maximise value from our investments</li>
  <li>Ensure a sustainable, autonomous English higher education system with world-class teaching that is open to people from all backgrounds</li>
</ul>

<h2 id="business-growth">
<span class="number">2. </span>Business growth</h2>

<div class="call-to-action">
<p>Objective: cement the UK’s position as the best place in Europe to start and grow a business by supporting local growth, entrepreneurs, and making it easier for small businesses to resolve disputes quickly and easily.</p>
</div>

<p>Lead minister: x  <br>
Lead official: x   </p>

<h3 id="what-bis-is-doing">
<span class="number">2.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p>We’re supporting businesses through a targeted approach by: </p>

<ul>
  <li>helping small businesses gain access to finance</li>
  <li>improving the business environment for small businesses</li>
  <li>devolving more power to a local level to promote local growth</li>
  <li>supporting the Post Office network </li>
</ul>

<h3 id="progress-against-key-indicators">
<span class="number">2.2 </span>Progress against key indicators</h3>

<h4 id="net-lending-to-smes">Net lending to SMEs</h4>

<div class="stat-headline-group">
<aside class="stat-headline">
  <p><em>£700m</em> lending to SMEs (2014 to 2015)</p>
</aside>
</div>

<table class="js-barchart-table mc-auto-outdent">
  <thead>
    <tr>
      <th>Quarter</th>
      <th>Net lending to SMEs (£m)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>120</td>
    </tr>
    <tr>
      <td>2</td>
      <td>200</td>
    </tr>
    <tr>
      <td>3</td>
      <td>220</td>
    </tr>
    <tr>
      <td>4</td>
      <td>160</td>
    </tr>
  </tbody>
</table>

<h4 id="number-of-regions-achieving-economic-growth-rate-above-their-15-year-average">Number of regions achieving economic growth rate above their 15-year average</h4>

<div class="stat-headline-group">
<aside class="stat-headline">
  <p><em>3</em> regions achieving growth target</p>
</aside>
</div>

<h4 id="small-business-survey">Small business survey</h4>

<p>xxx</p>

<h2 id="apprenticeships">
<span class="number">3. </span>Apprenticeships</h2>

<div class="call-to-action">
<p>Objective: deliver 3 million new apprenticeships to ensure businesses have access to the skilled workforce they need, while also taking measures to improve further education.</p>
</div>

<p>Lead minister: xx <br>
Lead official: xx</p>

<h3 id="what-bis-is-doing-1">
<span class="number">3.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p><abbr title="Department for Business, Innovation and Skills">BIS</abbr> is at the centre of the government’s drive to create 3 million apprenticeships and join up initiatives across government. We’re also introducing a range of new measures including a new levy of large employers for apprenticeship starts and continuing to improve the further education sector. </p>

<h3 id="progress-against-key-indicators-1">
<span class="number">3.2 </span>Progress against key indicators</h3>

<h4 id="number-of-new-apprenticeship-starts">Number of new apprenticeship starts</h4>

<div class="stat-headline-group">
  <aside class="stat-headline">
    <p><em>2.3m</em> apprenticeship starts since May 2010</p>
  </aside>

  <aside class="stat-headline">
    <p><em>250k</em> apprenticeship starts since May 2015</p>
  </aside>
</div>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Total starts since May 2010 (provisional)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>North East</td>
      <td>170,510</td>
    </tr>
    <tr>
      <td>North West</td>
      <td>394,350</td>
    </tr>
    <tr>
      <td>Yorkshire and The Humber</td>
      <td>287,710</td>
    </tr>
    <tr>
      <td>East Midlands</td>
      <td>218,720</td>
    </tr>
    <tr>
      <td>West Midlands</td>
      <td>283,160</td>
    </tr>
    <tr>
      <td>East of England</td>
      <td>211,960</td>
    </tr>
    <tr>
      <td>London</td>
      <td>210,440</td>
    </tr>
    <tr>
      <td>South East</td>
      <td>312,270</td>
    </tr>
    <tr>
      <td>South West</td>
      <td>250,840</td>
    </tr>
    <tr>
      <td>England total</td>
      <td>2,340,000</td>
    </tr>
    <tr>
      <td>Other</td>
      <td>27,220</td>
    </tr>
    <tr>
      <td>Grand total</td>
      <td>2,367,220</td>
    </tr>
  </tbody>
</table>

<h4 id="number-of-vocational-education-learners-level-4">Number of vocational education learners (Level 4+)</h4>

<p>xx</p>

<h2 id="competitiveness">
<span class="number">4. </span>Competitiveness</h2>

<div class="call-to-action">
<p>Objective: support competitiveness by cutting red tape, generating new trade, investment and job opportunities, opening up the Single Market, and developing our long-term industrial strategy.</p>
</div>

<p>Lead minister: xx <br>
Lead official: xx </p>

<h3 id="what-bis-is-doing-2">
<span class="number">4.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p>xx</p>

<h3 id="progress-against-key-indicators-2">
<span class="number">4.2 </span>Progress against key indicators</h3>

<h4 id="world-bank-doing-business-ranking">World Bank doing business ranking</h4>

<div class="stat-headline-group">
  <aside class="stat-headline">
    <p><em>8th</em> World Bank doing business ranking</p>
  </aside>
</div>

<h2 id="reforming-the-workplace">
<span class="number">5. </span>Reforming the workplace</h2>

<div class="call-to-action">
<p>Objective: tackle illegal practices in the workplace, legislate to reform trade union strike action, and deal with the abuse of the minimum wage.</p>
</div>

<p>Lead minister: xx <br>
Lead official: xx </p>

<h3 id="what-bis-is-doing-3">
<span class="number">5.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p>xx</p>

<h3 id="progress-against-key-indicators-3">
<span class="number">5.2 </span>Progress against key indicators</h3>

<p>xx</p>

<h2 id="innovation">
<span class="number">6. </span>Innovation</h2>

<div class="call-to-action">
<p>Objective: ensure that the UK is the best place to innovate, maintain a world leading research and science base to drive growth and productivity while reforming the system to maximise value from our investments.</p>
</div>

<p>Lead minister: xx <br>
Lead official: xx </p>

<h3 id="what-bis-is-doing-4">
<span class="number">6.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p>xx</p>

<h3 id="progress-against-key-indicators-4">
<span class="number">6.2 </span>Progress against key indicators</h3>

<p>xx</p>

<h2 id="higher-education">
<span class="number">7. </span>Higher education</h2>

<div class="call-to-action">
<p>Objective: ensure a sustainable, autonomous English higher education system with world-class teaching that is open to people from all backgrounds.</p>
</div>

<p>Lead minister: xx <br>
Lead official: xx </p>

<h3 id="what-bis-is-doing-5">
<span class="number">7.1 </span>What <abbr title="Department for Business, Innovation and Skills">BIS</abbr> is doing</h3>

<p>xx</p>

<h3 id="progress-against-key-indicators-5">
<span class="number">7.2 </span>Progress against key indicators</h3>

<p>xx</p>

</div>
  </div>
</div>
<div class="js-back-to-content back-to-content">
  <a href="#contents">Contents</a>
</div>
<div class="js-back-to-content-stop"></div>

    </div>
  </main>


{{/content}}

{{/layout}}
